<%- include('../partials/head',{role:null}); %>
<body>
    <h1>Register</h1>
    <form action="/register" method="post">
        <label>First Name:</label><br>
        <input type="text" name="firstName"><br><br>

        <label>Last Name:</label><br>
        <input type="text" name="lastName"><br><br>

        <label>Age:</label><br>
        <input type="number" name="age"><br><br>

        <label>Gender:</label><br>
        <select name="gender">
            <option selected disabled>Choose...</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
        </select><br><br>

        <label>username:</label><br>
        <input type="text" name="username"><br><br>

        <label>email:</label><br>
        <input type="text" name="email"><br><br>

        <label>password:</label><br>
        <input type="text" name="password"><br><br>

        <button type="submit">Submit</button>
    </form>
    <%- include('../partials/foot'); %>