<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div>
        HALO PROF &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        <% if (!user) { %>
            <button><a href="/login">Login</a></button>
            <button><a href="/register">Register</a></button>
        <% } %>
        <button><a href="/desease">Profile</a></button>
        <% if (user) { %>
            <% if (user.role === "patient") { %>
                <button><a href="/user/<%= user.id %>">Riwayat Penyakit</a></button>
            <% } %>
            <% if (user.role === "doctor") { %>
                <button><a href="/doctor/<%= user.id %>/checkResult">Lihat Data Hasil Periksa</a></button>
            <% } %>
            <button><a href="/logout">Logout</a></button>
        <% } %>
    </div>