<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <button><a href="/login">Login</a></button>
    <button><a href="/register">Register</a></button>
    <h1><%= result.name %></h1>
    <h3>Gejala: <%= result.Symptom.name %></h3>
    <table border="1">
        <tr>
            <th>Description</th>
            <th>Saran</th>
        </tr>
            <tr>
                <td><%=result.description%></td>
                <td><%=statusDisease(result.level)%></td>
            </tr>
    </table>
</body>
</html>