<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <button><a href="/login">Login</a></button>
    <button><a href="/register">Register</a></button>
    <h1>Daftar Penyakit</h1>
    <table border="1">
        <tr>
            <th>Nama Penyakit</th>
            <th>Description</th>
            <th>Level</th>
            <th>Gejala</th>
        </tr>
        <% result.forEach(el=>{%>
            <tr>
                <td><%=el.name%></td>
                <td><%=el.description%></td>
                <td><%=el.level%></td>
                <td><%=el.Symptom.name%></td>
            </tr>
            <%})%>
    </table>
</body>
</html>