<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Daftar Penyakit</h1>
    <table border="1">
        <tr>
            <th>Nama Penyakit</th>
            <th>Description</th>
            <th>Level</th>
            <th>Gejala</th>
        </tr>
        <% result.forEach(el=>{%>
            <tr>
                <td><%=el.name%></td>
                <td><%=el.description%></td>
                <td><%=el.level%></td>
                <% if(el.Symptomps.length === 0){%>
                    <td>-</td>
                    <%}else{%>
                    <td>
                        <%el.Symptomps.forEach(el=>{%>
                            -<%=el.name%><br>
                            <%})%>
                        </td>
                        <%}%>
            </tr>
            <%})%>
    </table>
</body>
</html>