<%- include('partials/head',{user}); %>
    <% if (error) { %>
        <p style="color: red;margin-bottom:0px;">
            <%= error %>
        </p>
    <% } %>
    <h1>HALOPROF</h1>
    <p>Website Rekap Riwayat Periksa</p>
<%- include('partials/foot'); %>